
<% if !instructor_logged_in? %>
<h1>teams</h1>
<% else %>
<h1>Manage teams</h1>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Number of Members</th>
      <th>Class</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <% if !instructor_logged_in? %>
      	<% for i in 0...team.students.length %>
           <%# if current_student.teams.include? team.students[i] %>
      	      <tr>
                 <td><%= link_to team.name, team %></td>
	               <td><%= team.student_team_ids.length %></td>
                 <td><%= Course.find(team.course_id).name %></td>
                 <td><%= link_to 'Show',team, :class=>"action" %>
                 </td>
              </tr>
           <%# end %>
        <% end %>
      <% end %>
    <% end %>

    <!-- If user signed in is admin and owner of team, show each team name, members, and link to detail of each team -->
    <% if instructor_logged_in? %>
      <% @teams.each do |team| %>
        <tr>
          <td><%= link_to team.name, team %></td>
          <td><%= team.students.length %></td>
          <td><%= Course.find(team.course_id).name %></td>
          <td>
              <%= link_to 'Add Member', team_add_students_path(:id => team.id), :class => "btn btn-default" %>
              <%= button_to 'Delete Team', team, method: :delete, data: { confirm: 'Are you sure you want to delete ' + team.name + '?'}, :class=>"action" %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<!-- <br><%= link_to 'Back to teams', teams_path, :class => "btn btn-default" %>
 --><br><%= link_to 'Back to Classes', courses_path, :class => "btn btn-default" %>
