<% provide(:title, 'Create New Team') %>
<h1>Team Creation</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @team, local: true) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.hidden_field :instructor_id, :value => current_instructor.id  %>
      <%= f.hidden_field :course_id, :value => Course.find_by_id(params[:course_id])  %>
      
      <%= f.submit "Create Team", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>


