<h1><%= @team.name.capitalize %></h1>
<% if @team.students.length == 0 %>	
    <%= "There are currently no members in this group" %>	
<% else %>	
<table class="table"><thead><tr><th>Student</th><th>Email</th><th>Score</th></tr></thead>
<tbody>
  <% for i in 0...@team.students.length %>
    <tr>
      <td>
        <%= @team.students[i].name %>
      </td>
      <td>
        <%= @team.students[i].email %>
      </td>
      <td> **Add Score Here**
        <%#= @team.students[i].score %>
      </td>
    </tr>
<% end %>
</tbody></table>
<% end %>
<br><%= link_to 'Back to Teams', teams_path, :class => "btn btn-default" %>







