<%# form to add a student to a group %>
<%= form_with(model: membership, local: true) do |form| %>

<br><br>
  <div class="field">
    <%= form.label "Student:" %><br>
    <%= form.select :user_id, User.where(:admin => false).collect {|p| ["#{p.Fname} #{p.Lname}: (#{p.email})", p.id ] } %>
  </div>



  <div class="field">
    <%= form.hidden_field :group_id, :value => params[:group_id], :readonly => true %>
  </div>
<br><br>
  <div class="actions">
    <%= form.submit "Add Student", :class => "btn btn-primary"%>
    <br><%= link_to 'Back to Groups', groups_path, :class => "btn btn-default", id: "link" %>
  </div>
<% end %>
