<% provide(:title, "Log in") %>
<br><br><br>
<h1>Log in</h1>


<%= form_with(url: login_path, scope: :session, local: true) do |f| %>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <%= f.label :email, class: "hidden" %>
            <%= f.email_field :email, class: 'form-control', placeholder: "Email"%>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <%= f.label :password, class: "hidden" %>
            <%= f.password_field :password, class: 'form-control', placeholder: "Password" %>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <%= f.submit "Log in", class: "btn btn-primary" %>
        </div>
    </div>
<% end %>

<p><span>New user? <%= link_to "Sign up now!", new_user_path, id: "link" %></span></p>