<h1>Students#new</h1>

<h3>Create a Student</h3>
<%= form_with model: @student do |form| %>
  <%= form.text_field :name, placeholder: "name" %>
  <%= form.text_field :motto, placeholder: "email" %>
  <%= form.submit %>
<% end %>

<!-- <%= form_for @student do |form| %>
  <%= form.text_field :name, placeholder: 'name' %>
  <%= form.text_field :email, placeholder: 'email' %>
  <%= form.submit %>
<% end %> -->
