<% provide(:title, @student.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="student_info">
      <h1>
        <%= gravatar_for @student %>
        <%= @student.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @student.evals.any? %>
      <h3>Evals (<%= @student.evals.count %>)</h3>
      <ol class="evals">
        <%= render @evals %>
      </ol>
      <%= will_paginate @evals %>
    <% end %>
  </div>
</div>
