<h1>Instructor Account</h1>
<h1>
  <%= @instructor.name %>
</h1>


<% if @instructor.team_ids.length == 0 %>
  <h2>There are currently no teams in this class</h2>
<% else %>
  <table class="table"><tbody>
    <thead><tr><th> Teams </th></tr></thead>
    <% for i in 0...@instructor.team_ids.length %>
      <tr>
        <td><%= link_to Team.find(@instructor.team_ids[i]).name, team_path(@instructor.team_ids[i])  %></td>
      </tr>
    <% end %>
  </tbody></table>
<% end %>
<%= link_to 'New Course', new_course_path(:instructor_id => @instructor.id), :class => "new btn btn-default" %>
<%= link_to 'Go to Teams', teams_path, :class => "new btn btn-default" %>
<%= link_to 'Go to Classes', courses_path, :class => "new btn btn-default" %>
