<title>Evaluations</title>
<h2>Create an Evaluation</h1>
<h2>Team Ratings</h2>

<h3>7-10: </h3>
<ul>
<li>Does more or higher-quality work than expected</li>
<li>Makes important contributions</li>
<li>Helps teammates who are having difficulty completing their work</li>
</ul>

<h3> 4-6:</h3>
<ul>
<li>Completes a fair share of the team's work with acceptable quality</li>
<li>Keeps commitments and completes assignements on time</li>
<li>Helps teammates who are having difficulty when it is easy or important</li>
</ul>

<h3> 1-3: </h3>
<ul>
<li>Does not do a fair share of the team's work. Delivers sloppy or incomplete work</li>
<li>Misses deadlines. Is late, unprepared, or absent for team meetings.</li>
<li>Does not assist teammates. Quits if the work becomes difficult.</li>
</ul>

<%= f.label :rating %>
<%= f.rating_field :rating, class: 'form-control' %>

<%= f.label :comments %> 
<%= f.comments_field :comments, class: 'form-control' %>

<%= f.submit "Submit Comments", class: "btn btn-primary" %>
