<%# shoes all evals for the current user (student) %>
<%# Showe all evals for the groups in an instructors groups. %>
<br><br><br>
<h1>Evaluations</h1>

<table>
  <thead>
    <tr>
      <th>Group</th>
      <th>Group Member</th>
      <th>Date</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @evaluates.each do |e| %>

      <% if (e.user_id == current_user.id and e.attempt == false) or current_user.try(:admin?) %>
        <tr>
          <td><%= Group.find(e.group_id).gname %></td>
          <td><%= User.find(e.ratee_id).Fname %> <%= User.find(e.ratee_id).Lname %></td>
          <td><%= e.created_at.strftime("%m-%d-%Y") %></td>
          <td>
              <% if current_user.try(:admin?) %>
                <%= link_to 'Destroy', e, method: :delete, id: "btn",data: { confirm: 'Are you sure?' } %>
              <% else %>
                <%= link_to 'Rate', new_rating_path(:evaluate_id => e.id), :class => "btn btn-primary", id: "btn" %>
              <% end %>
            <br></td>
        </tr>

      <% end %>
    <% end %>
  </tbody>
</table>