<h1>Add a New Students in Teams</h1>

<%= form_with(model: @student_team, local: true) do |form| %>
<div class="field">
<%= form.label "Student:" %></br>
<%= form.select :student_id, Student.where(!instructor_logged_in?).collect {|p| ["#{p.name}: (#{p.email})", p.id ] } %>
</div>

<div class="field">
<%= form.hidden_field :team_id, :value => Team.find(params[:team_id]).id, :readonly => true %>
</div>
<br><br>
<div class="actions">
<%= form.submit "Add Student", :class => "btn btn-primary"%>
<br><%= link_to 'Back to Groups', teams_path, :class => "btn btn-default" %>
</div>
<% end %>