<%# Lists all courses that an instructor has, and the number of groups in them %>
<%# Also allows the instructor to add or delete a group to/from their class %>
<br><br><br>
<h1>Classes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number of Groups</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% if logged_in? and current_user.try(:admin?) %>
        <% @courses.each do |course| %>
            <tr>
                <% if course.user_id.to_i == current_user.id.to_i %>
		            <td><%= link_to course.cname, course, id: "link" %></td>
              	    <td><%= course.group_ids.length %></td>
                    <td>
                        <%= link_to 'Add Group', new_group_path(:course_id => course.id), :class => "action", id: "btn" %>
                        <%= link_to 'Delete', course, method: :delete, data: { confirm: 'Are you sure?' }, :class => "action", id: "btn"%>
                    </td>
                <% end %>
            </tr>
        <% end %>
	<% end %>
  </tbody>
</table>
<br>
<div>
<% if current_user.try(:admin?) %>
  <br><%= link_to 'New Class', new_course_path, :class => "new" %>
  <br><br>
  <%= link_to 'Go to Groups', groups_path, id: "link" %>
  <%= link_to 'Go to Projects', projects_path, id: "link" %>
<% end %>
</div>

