<h1><%= @course.name %></h1>
 
<p class="h2">Teams:</p>
<% if @course.team_ids.length == 0 %>
	<p>There are currently no teams in this class</p>
<% end %>

<table class="table"><tbody>
<% for i in 0...@course.team_ids.length %>
	<tr>
	  <td><h4><%= link_to Team.find(@course.team_ids[i]).name, student_teams_path(:team_id => @course.team_ids[i])  %></h4></td>
	</tr>
<% end %>
</tbody></table>
<br>
<%= link_to 'New Team', new_team_path(:course_id => @course.id), :class => "new btn btn-default" %>
<%= link_to 'Go to Teams', teams_path, :class => "btn btn-default" %>


<p class="h2">Projects:</p>
<% if @course.project_ids.length == 0 %>
  <p>There are currently no projects in this class</p>
<% end %>
<table class="table"><tbody>
  <% for i in 0...@course.project_ids.length %>
	<tr>
	  <td><h4><%= link_to Project.find(@course.project_ids[i]).name, project_path(:course_id => @course.id) %></h4></td>
	</tr>
  <% end %>
</tbody></table>
<br>
<%= link_to 'New Project', new_project_path(:course_id => @course.id), :class => "new btn btn-default" %>
<%= link_to 'Go to Projects', projects_path, :class => "btn btn-default" %>

<br><br>
<%= link_to 'Back to Class List', courses_path, :class => "btn btn-default" %>
